<header>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">Profile</a></li>
	  <li><a href="#!">View Shop</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">Logout</a></li>
	</ul>
	<nav class="top-nav">
		<div class="container">
			<div class="nav-wrapper">
				<a class="page-title">Shopagram</a>
				<ul class="right hide-on-med-and-down">
      		<!-- Dropdown Trigger -->
      		<li><a class="dropdown-button profile-padding" href="#" data-activates="dropdown1">
						<img class="responsive-img circle" src="assets/img/insta-profile.png"><i class="material-icons right">arrow_drop_down</i></a>
					</li>
    		</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<a href="#" data-activities="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
			<i class="mdi-navigation-menu"></i>
		</a>
	</div>
		<ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
      <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
          <img id="front-page-logo" class="responsive-img" src="assets/img/insta.png"></a></li>
      <li class="search">
        <div class="search-wrapper card">
          <input id="search"><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </li>
      <li class="bold"><a ui-sref="dashboard.overview" class="waves-effect waves-teal">Dashboard</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Manage</a>
            <div class="collapsible-body" style="display: none;">
              <ul>
                <li><a href="color.html">Posts</a></li>
                <li><a href="grid.html">Products</a></li>
              </ul>
            </div>
          </li>
					<li class="bold"><a ui-sref="dashboard.settings" class="collapsible-header  waves-effect waves-teal">Settings</a>
						<div class="collapsible-body" style="display: none;">
							<ul>
								<li><a href="badges.html">Edit Profile</a></li>
								<li><a href="buttons.html">Connect</a></li>
							</ul>
						</div>
					</li>
				</ul>
      </li>
			<li class="bold"><a href="#/dashboard.html" class="waves-effect waves-teal">View Shop</a></li>
    </ul>
	</header>
	<main>
		<div class="container">
  		<div class="row">
				<div class="col s12 m12 l12">
		      <div id="introduction" class="section scrollspy">
						<div ui-view></div>
		      </div>
				</div>
			</div>
		</div>
</main>
<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Help Shopagram Grow</h5>
            <p class="grey-text text-lighten-4">We hope you have enjoyed using Shopagram! If you feel Shopagram has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
            <form id="paypal-donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="encrypted" value="">
							<button class="btn waves-effect waves-light red lighten-3" type="submit" name="action" alt="PayPal - The safer, easier way to pay online!">Donate Now
							</button>
						</form>
          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Register and Start Selling Now</h5>
            <p class="grey-text text-lighten-4">You can have your Instagram store up in 5 minutes. Register now and start selling today!</p>
            <a class="btn waves-effect waves-light red lighten-3" ui-sref="register">Register</a>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
            <iframe src="https://ghbtns.com/github-btn.html?user=theonlychase&repo=Shopagram&type=watch&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
            <br>
						<a href="https://twitter.com/Chase_Isley" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Chase_Isley</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <br>
						<style>.ig-b- { display: inline-block; }
							.ig-b- img { visibility: hidden; }
							.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
							.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
							@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
							.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
						</style>
						<a href="http://instagram.com/theonlychase?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
						</div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Shopagram, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
        </div>
      </div>
    </footer>
