<div class="card hoverable">
  <div class="container">
    <div class="card-content">
      <ul class="ul-container">
        <li class="row li-padding">
          <div class=" col s12 l9 text-overview">
            <h5>Connect to Instagram</h5>
            <p>Your first step is to connect to Instagram. This will allow you to start adding posts to your Shopagram page.</p>
          </div>
          <div class="col s12 l3 button-overview">
            <button class="btn"><i class="material-icons">check</i></button>
          </div>
        </li>
        <li class="row li-padding">
          <div class=" col s12 l9 text-overview">
            <h5>Populate Your Feed</h5>
            <p>Your feed is what your fans will see. Ideally, your feed will mimic your Instagram page in order for your fans to find their favorite content easily.</p>
          </div>
          <div class="col s12 l3 button-overview">
            <button ng-click="overview.getProfile()" class="btn"><i class="material-icons">check</i></button>
          </div>
        </li>
        <li class="row launch-button">
          <div class="col s12 l12">
            <a class="btn">Launch Page</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
