<nav class="blue-grey lighten-5">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><img class="shop-logo" src="assets/img/shop-logo.png" /></a>
  </div>
</nav>
<div class="container top-padding">
  <div class="row">
    <div ng-repeat="product in shop.createdProducts" class="col s12 l3">
      <div class="card hoverable">
        <div class="card-image">
          <a class="post-image-link" href="{{product.url}}"><img ng-src="{{product.picture}}"/></a>
        </div>
      </div>
    </div>
</div>
